<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.morningstarcc.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MCCTheme" >
        <activity
            android:name="org.morningstarcc.app.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.morningstarcc.app.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="org.morningstarcc.app.activities.ConnectActivity"
            android:parentActivityName="org.morningstarcc.app.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.morningstarcc.app.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.morningstarcc.app.activities.SeriesActivity"
            android:parentActivityName="org.morningstarcc.app.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.morningstarcc.app.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.morningstarcc.app.activities.EventActivity"
            android:parentActivityName="org.morningstarcc.app.activities.MainActivity"
            android:theme="@style/Theme.MCCTheme.Toolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.morningstarcc.app.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.morningstarcc.app.activities.DevotionActivity"
            android:theme="@style/Theme.MCCTheme.Toolbar"
            android:parentActivityName="org.morningstarcc.app.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.morningstarcc.app.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.morningstarcc.app.activities.StudyActivity"
            android:label="@string/title_activity_study"
            android:parentActivityName="org.morningstarcc.app.activities.SeriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.morningstarcc.app.activities.SeriesActivity" />
        </activity>
        <activity
            android:name="org.morningstarcc.app.activities.SeriesCategoryActivity"
            android:label="@string/title_activity_series_category"
            android:parentActivityName="org.morningstarcc.app.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.morningstarcc.app.activities.MainActivity" />
        </activity>
    </application>

</manifest>
